.slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.imageSlider{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.right-arrow{
    position: absolute;
    top:50%;
    right: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow{
    position: absolute;
    top:50%;
    left: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration:1s ease ;

}
.slide.active{
    opacity: 1;
    transition-duration:1s ;
    transform: scale(1.00);
    width: 100%;
}

@media (max-width: 480px) { 
    .imageSlider{
       
        height: 255px;
        
    }
    .right-arrow{
       
        top:50%;
        right: 10px;
        font-size: 1.5rem;

    }
    .left-arrow{
       
        top:50%;
        left: 10px;
        font-size: 1.5rem;

    }


}